/* Starting Css*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f8ff;
}

/* header css */
.Matha{
    background-image: url(Assets/Hero-bg.png);
}
.navi{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    padding: 50px 0;
}
.navi h2{
    color: #4E47FF;
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/* banner style */
.banner  {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 200px;
}
.divban{
    margin: 0 200px;
    text-align: center;
    padding: 0px;
    display: block;
}
.divban h1{
    font-size: 4rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    
}
.divbut{
    margin-top: 35px;
}
.btn{
    padding: 15px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-style: none;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Action Section Style*/
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    background-color: #f5f8ff;
    
}
.action img{
    width: 400px;
    height: 300px;
    margin:  100px 0;
    border-radius: 30px;
}
.divac{
    text-align: left;
    padding: 50px;
    font-size: larger;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
 .divgap{
    padding-top: 15px;
}
.divgap p{
    color:#858585
}

/* Productive Users Section */
.productive{
    background-color: #e5e7ff;
    margin: 60px 200px;
    border-radius: 20px;
}
.ph{
    text-align: center;
    padding: 40px;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.ptail{
    text-align: center;
    font-size: 5rem;
    color: #4E47FF;
}
.ptail p{
    font-size: large;
    color: #999999;
}
.probody{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
}
/* Get in Style */
.get-in{
    display: flex;
    justify-content: space-between;
    background-color:#f5f8ff;
    margin: 60px 200px;
    border-radius: 5px;
}
.geth h1{
    text-align: left;
    align-items: center;
    font-size: 70px;
    padding: 70px;
    margin: 90px 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.divf{
    padding: 5px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}
form{
    margin: 50px;
    padding: 10px;
}
.divf input{
    padding: 10px;
    width: 305px;
    border-style: none;
    border-radius: 7px;
}
.divf textarea{
    padding: 10px;
    border-style: none;
    border-radius: 7px;
}
form button{
    width: 330px;
}
/*footer*/
footer{
    background-color: white;
    margin: 20px;
    padding: 200px;
}

.dhp{
    text-align: center;
    margin: 20px;
}
.dhp h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
    font-size: 5rem;
    color: #4E47FF;
}
.dhp p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #999999;
}
.dlink{
    display: flex;
    justify-content: center;
    gap:25px;
}
.dlink a{
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* hover all button*/
.btn:hover {
    background-color: rgb(255, 200, 0);
    color: red;
    font-weight: 600;
}
.dlink a:hover{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(255, 200, 0);
    color: red;
    font-weight: 600;
    padding: 10px;
}
/* Review Section*/
.Review{
        margin: 100px 200px;
        background-color:  #f5f8ff;
}
.rh{    text-align: center;
        justify-content: center;
        padding: 20px;
        font-size: 2rem;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
}

.star{
    display: flex;
    margin-bottom: 20px;
    
     
}
.card{
    display: flex;
    justify-content: space-between;
    gap:50px ;
    background-color: #f5f8ff;
    padding: 20px;
}
.careone{
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
}
.dcinfo , .careone h2{font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
    margin-bottom: 10px;}
    
.client{
    display: flex;
    text-align: left;
    justify-content: left;
    margin: 30px;
    gap: 20px;
}
.meye img{
    border: 1px wheat solid;
    border-radius: 50px;
    
}
.careone p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #999999;
}